version: "3"

services:

    nginx:
        image: webdevops/nginx:alpine
        container_name: ${APP_NAME}__nginx
        hostname: ${APP_NAME}__nginx
        ports:
            - 80:80
            - 443:443
        environment:
            WEB_DOCUMENT_ROOT: /app/public
            WEB_PHP_SOCKET: ${APP_NAME}__php:9000
            LOG_STDOUT: /app/storage/logs/web.access.log
            LOG_STDERR: /app/storage/logs/web.errors.log
        volumes:
            - ./:/app
        working_dir: /app
        depends_on:
            - php

    php:
        build: ./docker/php/
        container_name: ${APP_NAME}__php
        hostname: ${APP_NAME}__php
        working_dir: /app
        volumes:
            - ./:/app/
            - ./storage/framework/tmp:/tmp
            - ./docker/php/.bashrc:/root/.bashrc
            - ./docker/php/.bashrc:/home/appuser/.bashrc
            - ./docker/php/.bash_aliases:/root/.bash_aliases
            - ./docker/php/.bash_aliases:/home/appuser/.bash_aliases
        environment:
            TERM: xterm-256color
            COMPOSER_ALLOW_SUPERUSER: 1
#            XDEBUG_CONFIG: "client_host=${DOCKER_ADDRESS}"
            PHP_IDE_CONFIG: "serverName=${APP_NAME}"
        ports:
            - 6001:6001
            - 8000:8000
        depends_on:
            - db
#            - db_testing
            - redis
#        entrypoint: ["/bin/bash", "/var/www/html/docker/bin/php_start.sh"]

    db:
        image: mariadb:10.3
        container_name: ${APP_NAME}__db
        hostname: ${APP_NAME}__db
        restart: always
        environment:
          MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
          MYSQL_DATABASE: ${DB_DATABASE}
        ports:
          - 3306:3306
        volumes:
          - ./storage/db/:/var/lib/mysql/

    db_audit:
        image: mariadb:10.3
        container_name: ${APP_NAME}__db_audit
        ports:
          - 3310:3306
        environment:
          MYSQL_ROOT_PASSWORD: ${DB_AUDIT_PASSWORD}
          MYSQL_DATABASE: ${DB_AUDIT_DATABASE}
        volumes:
          - ./storage/db-audit/:/var/lib/mysql/

    db_mailbox:
      image: mariadb:10.3
      container_name: ${APP_NAME}__db_mailbox
      ports:
        - 3311:3306
      environment:
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        MYSQL_DATABASE: ${DB_DATABASE_MAILBOXES}
      volumes:
        - ./storage/db-mailbox/:/var/lib/mysql/

    db_ringostat:
      image: mariadb:10.3
      container_name: ${APP_NAME}__db_ringostat
      ports:
        - 3312:3306
      environment:
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD_RINGOSTAT}
        MYSQL_DATABASE: ${DB_DATABASE_RINGOSTAT}
      volumes:
        - ./storage/db_ringostat/:/var/lib/mysql/

#    db_testing:
#        image: mysql:8
#        container_name: ${APP_NAME}__db_testing
#        ports:
#          - 3307:3306
#        environment:
#          MYSQL_ROOT_PASSWORD: root
#          MYSQL_DATABASE: db_test
#        tmpfs:
#          - /var/lib/mysql
#
    nodejs:
        build: ./docker/nodejs/
        container_name: ${APP_NAME}__nodejs
        hostname: ${APP_NAME}__nodejs
        volumes:
            - ./:/app
        working_dir: /app
        tty: true  #позволяет процесу nodejs висеть постояно

    redis:
        image: nbtri/alpine-redis
        environment:
            REDIS_PASSWORD: ${REDIS_PASSWORD}
        container_name: ${APP_NAME}__redis
        hostname: ${APP_NAME}__redis
        ports:
            - ${REDIS_PORT}:${REDIS_PORT}

    mailer:
        image: mailhog/mailhog
        container_name: ${APP_NAME}__mailer
        hostname: ${APP_NAME}__mailer
        ports:
            - 8025:8025
            - 1025:1025

#networks:
#    default:
#        driver: bridge
#        ipam:
#            config:
#                - subnet: ${DOCKER_NETWORK}

