
.flatpickr-calendar.flatpickr-has-predefined-ranges {
    width: auto;
    display: grid !important;

    &.static.arrowBottom {
        top: -340px;
    }

    &:not(.flatpickr-predefined-ranges-only) {
        .flatpickr-predefined-ranges {
            border-right: 1px solid #e6e6e6;
        }
    }

    &.hasTime:not(.flatpickr-predefined-ranges-only) {
        .flatpickr-predefined-ranges {
            grid-row: 1 / 4;
            min-width: 115px;
            //border-right: 1px solid #e6e6e6;
        }
    }

    &.flatpickr-predefined-ranges-only {
        .flatpickr-months {
            display: none;
        }
        .flatpickr-innerContainer {
            display: none;
        }
        .flatpickr-predefined-ranges :first-child .nav-link.btn-link {
            border-radius: 5px 5px 0 0;
        }
        .flatpickr-predefined-ranges :last-child .nav-link.btn-link {
            margin-bottom: 0;
            border-radius: 0 0 5px 5px;
        }

    }

    .flatpickr-months {
        position: relative; /* needed for prev/next month arrows to position correctly */
        grid-column: 2;
        grid-row: 1;
    }

    .flatpickr-predefined-ranges {
        grid-column: 1;
        grid-row: 1 / span 2;

        :first-child .nav-link.btn-link {
            border-radius: 5px 0 0 0;
        }
        :last-child .nav-link.btn-link {
            margin-bottom: .5rem;
        }

        .nav-link.btn-link {
            padding: 0.4rem 0.75rem;
            color: inherit;
            border-radius: 0;
            text-align: left;
            width: 100%;
            &.active {
                background: #569ff7;
                color: #fff;
            }
            &:hover:not(.active) {
                background: #eee;
            }
        }

    }

    .flatpickr-innerContainer {
        overflow: visible;
        grid-column: 2;
        grid-row: 2;
    }
    .flatpickr-time {
        overflow: visible;
        grid-column: 2;
        grid-row: 3;
    }

}





















/* Use display: grid so we can position the range menu to the left of the existing calendar elements */
//.flatpickr-calendar.flatpickr-has-predefined-ranges {
//    width: auto;
//    display: grid !important;
//}
//
//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges {
//    grid-column: 1;
//    grid-row: 1 / span 2;
//}

//.flatpickr-calendar.flatpickr-has-predefined-ranges:not(.flatpickr-predefined-ranges-only) .flatpickr-predefined-ranges {
//    border-right: 1px solid #e6e6e6;
//}

//.flatpickr-calendar.flatpickr-has-predefined-ranges.hasTime:not(.flatpickr-predefined-ranges-only) .flatpickr-predefined-ranges {
//    grid-row: 1 / 4;
//    min-width: 115px;
//    //border-right: 1px solid #e6e6e6;
//}

//.flatpickr-calendar.flatpickr-has-predefined-ranges.static.arrowBottom {
//    top: -340px;
//}


//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-months {
//    position: relative; /* needed for prev/next month arrows to position correctly */
//    grid-column: 2;
//    grid-row: 1;
//}

//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-innerContainer {
//    overflow: visible;
//    grid-column: 2;
//    grid-row: 2;
//}

//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-time {
//    overflow: visible;
//    grid-column: 2;
//    grid-row: 3;
//}

/* hide the calendar when .flatpickr-predefined-ranges-only is added to the container */
//.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-months {
//    display: none;
//}
//
//.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-innerContainer {
//    display: none;
//}

/* style the button nav items to match the calendar */
//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges .nav-link.btn-link {
//    padding: 0.4rem 0.75rem;
//    color: inherit;
//    border-radius: 0;
//    text-align: left;
//    width: 100%;
//}
//
//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges .nav-link.btn-link.active {
//    background: #569ff7;
//    color: #fff;
//}

//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges .nav-link.btn-link:hover:not(.active) {
//    background: #eee;
//}

/* needed so the hover/active background on the buttons don't overlap the container's border radius */
//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges :first-child .nav-link.btn-link {
//    border-radius: 5px 0 0 0;
//}
//
//.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges :last-child .nav-link.btn-link {
//    margin-bottom: .5rem;
//}

//.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-predefined-ranges :first-child .nav-link.btn-link {
//    border-radius: 5px 5px 0 0;
//}
//
//.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-predefined-ranges :last-child .nav-link.btn-link {
//    margin-bottom: 0;
//    border-radius: 0 0 5px 5px;
//}
