/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/db/
/storage/api-docs/
/storage/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
docker/storage
.env.testing
_ide_helper.php
_ide_helper_models.php
_lighthouse_ide_helper.php
composer.lock
.phpstorm.meta.php
programmatic-types.graphql
schema-directives.graphql
test_img.png
dump.sql
dump_stage.sql
/resources/lang/ru/
/resources/lang/uk/
/public/vendor/telescope
/stubs
/storage/api-docs
*.sql
