/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/db
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
docker/storage
.env.testing
composer.lock
_ide_helper.php
.phpstorm.meta.php
dump.sh
dump.sql
/docs/promotions
