body {
	width: 100%;
    text-align: center;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ul li, ol, ol li, blockquote, table td, table th, a {
	margin: 0;
	padding: 0;
	font-family: Montserrat, "Montserrat", sans-serif;
	font-weight: normal;
	line-height: normal;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

table {
	border-collapse: collapse;
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
	border-spacing: 0;
}

table td,
html,
body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
	border: 0 none;
	height: auto;
	line-height: 100%;
	outline: none;
	color: inherit;
	text-decoration: none;
}

p,
hr {
	margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	Margin: 0;
	line-height: 1.37;
}

a {
	font-size: 14px;
	text-decoration: none;
	transition: color 150ms;

	&[x-apple-data-detectors] {
		color: inherit !important;
		text-decoration: none !important;
		font-size: inherit !important;
		font-family: inherit !important;
		font-weight: inherit !important;
		line-height: inherit !important;
	}
}

h1 {
    font-size: 30px;
    font-weight: 700;
	font-style: normal;
}

h2 {
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 400;
	font-style: normal;
}

ul li,
ol li {
	font-size: 14px;
	line-height: 150%;
}

ul li,
ol li {
	Margin-bottom: 15px;
}

s {
	text-decoration: line-through;
}
