.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.p5 {
	padding: 5px;
}

.p5t {
	padding-top: 5px;
}

.p5b {
	padding-bottom: 5px;
}

.p5l {
	padding-left: 5px;
}

.p5r {
	padding-right: 5px;
}

.p10 {
	padding: 10px;
}

.p10t {
	padding-top: 10px;
}

.p10b {
	padding-bottom: 10px;
}

.p10l {
	padding-left: 10px;
}

.p10r {
	padding-right: 10px;
}

.p15 {
	padding: 15px;
}

.p15t {
	padding-top: 15px;
}

.p15b {
	padding-bottom: 15px;
}

.p15l {
	padding-left: 15px;
}

.p15r {
	padding-right: 15px;
}

.p20 {
	padding: 20px;
}

.p20t {
	padding-top: 20px;
}

.p20b {
	padding-bottom: 20px;
}

.p20l {
	padding-left: 20px;
}

.p20r {
	padding-right: 20px;
}

.p25 {
	padding: 25px;
}

.p25t {
	padding-top: 25px;
}

.p25b {
	padding-bottom: 25px;
}

.p25l {
	padding-left: 25px;
}

.p25r {
	padding-right: 25px;
}

.p30 {
	padding: 30px;
}

.p30t {
	padding-top: 30px;
}

.p30b {
	padding-bottom: 30px;
}

.p30l {
	padding-left: 30px;
}

.p30r {
	padding-right: 30px;
}

.p35 {
	padding: 35px;
}

.p35t {
	padding-top: 35px;
}

.p35b {
	padding-bottom: 35px;
}

.p35l {
	padding-left: 35px;
}

.p35r {
	padding-right: 35px;
}

.p40 {
	padding: 40px;
}

.p40t {
	padding-top: 40px;
}

.p40b {
	padding-bottom: 40px;
}

.p40l {
	padding-left: 40px;
}

.p40r {
	padding-right: 40px;
}

.break-all {
	word-break: break-all;
}

.no-wrap {
	white-space: nowrap;
}

.bold {
    font-weight: 600;
}

.divider {
    display: block;
    width: 100%;
    border-bottom: solid 1px #D4D2D0;
}
