$mail-accent: #FFD71D;
$mail-white: white;
$mail-black: black;
$mail-light-gray: #F5F4F3;
$mail-gray: #434242;
$mail-wrapper-background-color: white;

$mail-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
