.button-table {
    &__wrap {
        padding: 20px 0;
    }
}

.button {
    background: $mail-accent;
    border-style: solid;
    border-width: 1px;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    border-color: $mail-accent;
    border-radius: 0px;
    display: inline-block;
    width: auto;
    padding: 20px 52px;
    text-transform: uppercase;
    color: $mail-white;
}

a.button--circle {
    padding: 14px 14px;
    border-style: solid;
    border-color: $mail-white;
    border-width: 1px;
    display: inline-block;
    background: transparent;
    border-radius: 100%;
    font-family: Montserrat, "Montserrat", sans-serif;
    color: $mail-white;
    text-decoration: none;
    text-align: center;
    line-height: 11px !important;
    transition: background 150ms, border-color 150ms;
}
