.title {
	margin: 0;
    padding: 0 60px;
	font-style: normal;
    line-height: 1.37;

	&--h1 {
		font-size: 32px;
        font-weight: 700;
	}

	&--h2 {
		font-size: 20px;
        font-weight: 700;
	}

	&--h3 {
		font-size: 20px;
        font-weight: 400;
	}

	&--h4 {
		font-size: 16px;
        font-weight: 700;
	}
}
